img {
  border-radius: 40px 40px 40px 40px;
}

.IMGPlaceholder {
  width: 950px;
  height: 200px;
}
    
    
.nav-bar{
  color: white;
  background-color: #1F2937;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
}

  
  .TopLogo {
    color: rgb(213, 166, 166);
    background-color: #1F2937;
    display: flex;
  }
  
  .items a {
    color: white;
    background-color: #1F2937;
  }
  
  .Container {
    color: rgb(190, 26, 26);
    background-color: #1F2937;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .MyFirstWebSite {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  
  .MyFirstWebSite2 {
    color: rgb(141, 66, 66);
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
   justify-content: end;
   border-radius: 20px 20px 20px 20px;
  }
  
  
  .SecondHalf {
    background-color: rgb(185, 97, 97);
  }
  
  .main-content h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  }
  
  .ContainerDelleImmagini {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  /* Le quattro immagini prese per classe Immagini con selector img */

    .Immagini img {
      margin: 20px;
      object-fit: cover;
      width: 150px;
      height: 150px;
      border-radius: 10px 10px 10px 10px;
      display: flex;
      text-align: center;
    }

    .ContainerDelleImmagini .Immagini p {
      text-align: center;
    }

  
    .SeNonOraQuando {
      background-color: #558eff;
      height: 150px;
      text-align: center;
    }
    .SeNonOraQuando p {
      display: flex;
      justify-content: end;
      color: antiquewhite;
    }