/* * {
  border: 2px solid red;
}
*/

/* Barra in alto */


body {
  margin: 0;
}


/* seleziono l'immagine al centro della prima metà della pagina */

.FirstHalf {
  position: relative;
}

.nav-bar{
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 0px;
}

.TopLogo {
  color: white;
  background-color: #1F2937;
  display: flex;

}

/* questi sono i link a destra in alto alla navbar */

.items {
  width: 45%;
  padding: 10px;
}

.items a {
  color: white;
  background-color: #1F2937;
  margin: 10%;
  text-decoration: none;
}


/* questi sono il primo blocco sotto la navbar con tutti i vari elementi */

.Container {
  position: relative;
  background-color: #1F2937;
}


.MyFirstWebSite {
  position: relative;
  color: white;
  width: 50%;
  left: 5%;
}

.MyFirstWebSite h2 {
  position: absolute;
  left: 20%;
  top: 50px;
}

.MyFirstWebSite p {
  margin-block-start: 3em;
  position: absolute;
  text-align: left;
  top: 70px;
  left: 40px;
}

.MyFirstWebSite button {
  position: absolute;
  left: 0;
  top:  100%;
  background-color: #3882f6;
  padding: 10px;
  width: 20%;
  margin: 10px;
  color: white;
  border-radius: 10px;
  border-color: #3882f6;
}



/* Ora prendo il riquadro che contiene l'immagine del pandemonio */

.MyFirstWebSite2 {
  width: 80%;
}

.MyFirstWebSite2 .PandemonioMio img {
  width: 30%;
  border-radius: 20%;
  position: relative;
  left: 80%;
  height: 550px;
  object-fit: cover;
}

/* passiamo alla sezione successiva */
  

.SecondHalf {

}

  .main-content {
    background-color: white;
  }
  
  .main-content h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  }
  
  .ContainerDelleImmagini {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
  }
  
  /* Le quattro immagini prese per classe Immagini con selector img */

    .Immagini img {
      margin: 20px;
      object-fit: cover;
      width: 150px;
      height: 150px;
      border-radius: 10px 10px 10px 10px;
      display: flex;
      text-align: center;
    }

    /* Per centrare il testo delle 4 immaginette */

    .ContainerDelleImmagini .Immagini p {
      text-align: center;
    }

  /* penultima sezione */

    .SeNonOraQuando {
      background-color: #558eff;
      height: 150px;
      text-align: center;
      color: aliceblue;
      background-color: #E5E7Eb;
      color: #1F2937;
    }
    .SeNonOraQuando p {
      position: relative;
      display: flex;
      justify-content: end;
      color: #1F2937;
      right: 25%;
    }

  /* penultima sezione + footer*/

    .ThirdHalf{
      position: relative;
    }

    .CTA{
      position: relative;
      background-color: #3882f6;
      padding: 1%;
      margin: 5%;
      color: white;
      text-align: center;
      width: 50%;
      left: 15%
    }

    
    .ThirdHalf button {
      position: absolute;
      right: 20%;
      color: white;
      background-color: #3882f6;
      border-radius: 10%;
      border-color: white;
      bottom: 40%;
      width: 10%;
    }


    footer {
      background-color: #1F2937;
      color: white;
      text-align: center;
      height: 40px;
    }

    footer p {
      position: relative;
      top: 20%;
    }

    /* pseudo-class */

    .items a:hover{
      text-decoration: underline;
    }

    .Immagini img:hover{
      position: relative;
      top: -4px;
    }

    .MyFirstWebSite2 .PandemonioMio img:hover{
      position: relative;
      top: -4px;
    }



    /* responsive styles */

    @media screen and (max-width: 1400px) {

      .MyFirstWebSite2 .PandemonioMio img {
        width: 40%;
      }

  /* Sostanzialmente il max-width significa sotto un certo valore comportati così */      
    }

    @media screen and (max-width: 900px) {

      .ThirdHalf button {
        width: 15%;
        right: 10%;
      }
    }

    @media screen and (max-width: 560px) {

      .MyFirstWebSite p {
        width: 80%;
      }
    }