* {
    border: 2px solid red;
  }

  body {
    margin: 0;
  }

  .Container {
    display: block;
  }

  .First-Square {
    height: 30%;
    width: 25%;
  }

  .Second-Square {
    height: 30%;
    width: 25%;
  }

  .Third-Square {
    height: 30%;
    width: 25%;
    background-color: yellow;
  }



  .Big-Square {
    height: 30%;
    width: 100%;
    background-color: blue;
    position: absolute;
    top: 0;
    left: 26%;
  }

  .Fifth-Square {
    height: 30%;
    width: 25%;
  }


  .Sixsth-Square {
    height: 30%;
    width: 25%;
  }