body {
background: linear-gradient(to right, rgb(236, 225, 225), rgb(214, 203, 203));
}

div {
    text-align: center;
    margin: auto;
    padding: top;
    width: 42%;
    height: ;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }