body {
  margin: 0;
  background: linear-gradient(to right, rgb(236, 225, 225), rgb(214, 203, 203));
}

  .First-Half {
    display: flex;
  }

  .First-Half img {
    width: 40%;
    height: 40%;
  }

  .Text {
    text-align: center;
    margin: auto;
    padding: top;
    width: 42%;
  }

  .First-Half .Text i {
    max-height: 100px;
    display: flex;
    position: absolute;
    top: 0;
    width: 40%;
    color: #8707ff;
  }

  .Second-Half {
    height: 50%;
  }

  .input {
    color: #8707ff;
    border: 2px solid #8707ff;
    border-radius: 10px;
    padding: 10px 25px;
    background: transparent;
    max-width: 190px;
    display: flex;
    margin: 5%;
  }

  p {
    display: flex;
  }






  /* Pseudo Class */

  .input:active {
    box-shadow: 2px 2px 15px #8707ff inset;
   }